In [1]:
# Import modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# Read in the filtered dataframe
df = pd.read_csv('Filtered_Aviation_Data.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7320 entries, 0 to 7319
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Investigation.Type      7320 non-null   object
 1   Accident.Number         7320 non-null   object
 2   Event.Date              7320 non-null   object
 3   Location                7320 non-null   object
 4   Latitude                7309 non-null   object
 5   Longitude               7309 non-null   object
 6   Airport.Code            5394 non-null   object
 7   Airport.Name            5302 non-null   object
 8   Injury.Severity         7265 non-null   object
 9   Aircraft.damage         7116 non-null   object
 10  Registration.Number     7318 non-null   object
 11  Make                    7320 non-null   object
 12  Model                   7320 non-null   object
 13  Amateur.Built           7320 non-null   object
 14  Number.of.Engines       6963 non-null   float64
 15  Engine.Type             6050 non-null   object
 16  FAR.Description         7318 non-null   object
 17  Purpose.of.flight       6703 non-null   object
 18  Air.carrier             2991 non-null   object
 19  Total.Fatal.Injuries    7320 non-null   float64
 20  Total.Serious.Injuries  7320 non-null   float64
 21  Total.Minor.Injuries    7320 non-null   float64
 22  Total.Uninjured         7320 non-null   float64
 23  Weather.Condition       7001 non-null   object
dtypes: float64(5), object(19)
memory usage: 1.3+ MB

In [9]:
df['Injury.Severity'].value_counts(dropna=False)

Non-Fatal    5817
Fatal        1262
Minor         106
Serious        80
NaN            55
Name: Injury.Severity, dtype: int64